.projetos-bg {
    text-align: left;
    background-color: var(--cor-2);
    border-radius: 4px;
    padding: 120px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 25px -3px rgba(0,0,0,.5);
}

.titulo {
    font-size: 3rem;
    margin-bottom: 40px;
}

.projetos {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

.projetos h2 {
    padding-bottom: 80px;
}

.projetos {
    background: var(--cor-3);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
    box-shadow: 10px 10px 25px -3px rgba(0,0,0,.5);
}

.projetos-img {
    display: grid;
}

.projetos-img img {
    border-radius: 4px;
    width: 100%;
    grid-area: 1/1;
}

.projetos-img img::after{
    content: "";
    display: inline-block;
    position: absolute;
}

.projetos-content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.projetos-content h3,
.projetos-content h4 {
    grid-column: 1/-1;
}

.projetos-content h4 {
    text-align: left;
    max-width: 80ch;
}
.projetos-content h3 {
    margin-bottom: 20px;
}

.projetos-content ul {
    margin-top: 20px;
    display: flex;
    gap: 16px;
    justify-content: center;
}

.tecnologias li{
    color: var(--cor-1);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    background: var(--cor-tx4);
    margin-bottom: 20px;
}

.projetos-content {
    position: relative;
}

.projetos-content::after {
    content: "";
    display: inline-block;
    background-color: black;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
}

@media (max-width: 1000px) {
    .projetos {
        grid-template-columns: 1fr;
        gap: 20px;
        padding: 40px 20px;
    }
    .projetos-content {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .projetos-bg {
        padding: 40px 20px;
    }
    .titulo {
        text-wrap: wrap;
        font-size: 1rem;
    }
    .projetos {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .projetos-content h4 {
        max-width: 100%;
    }
    .projetos-content ul {
        flex-direction: row;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .titulo h2 {
        font-size: 1.5rem; /* Reduz o tamanho sem perder a proporção */
        padding: 0 10px; /* Evita que o título fique colado nas bordas */
    }
}
